.img {
  max-width: 400px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.boxInfo {
  font-size: 18px;
  background-color: rgba(35, 32, 32, 0.562);
  border-radius: 8px;
  text-align: center;
  color: azure;
  font-weight: 600;
}
