.btnLoadMore {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: rgba(34, 139, 34, 0.642);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 8px;
}

.btnLoadMore:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 55px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
